*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction:  column;
  background-image: url(ChatGPT\ Image\ 14\ de\ jul-Photoroom.png);
  background-position: center;

}

.butoes{
  top: 0%;
  height: 100%;
  background-color: transparent;
  height: 120px ;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  display: inline;
  backdrop-filter: blur(10px);
}
img{
  margin: 10px;
  border-radius: 15px;
  display: inline-block;
  width: 0px;
}
h2 {
  margin: 20px;
  text-align: center;
}

.meus-cards {
  max-width: 90%;
  margin: 30px auto;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.butoes button{
  background-color: transparent;
  color: #0a9396;
  font-size: xx-large;

}

.butoes button:hover{
  background-color: transparent;
}

.cardzinho {
  margin-top: 10px;
  display: none;
  width: 100%;
  height: auto;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  align-items: center;
  box-shadow: 0 0 15px rgb(0, 0, 0);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
}



.cardzinho.active {
  display: flex;
  flex-direction: column;
}

.botao-card {
  margin: 0 auto 40px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  width: 25%;
  height: auto;
  text-align: center;
  
}

.botao-card:hover {
  background-color: #94d2bd;
}

label {
  text-align: start;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0a9396;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color:#94d2bd;
}

#resultado {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#resultado2 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
#resultado3 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

#resultado4 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#resultadoraiz {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}


#resultado5 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}