*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction:  column;
}

.butoes{
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  width: 100%;
  background-color: #007bff;
  margin-bottom: 30%;
  align-items: center;
  height: 150px;
  background: linear-gradient(to top,transparent 0%, #0056b3 100%,transparent);


  & button{
    background-color: transparent;
    text-align: center;
    font-weight: 600;
    font-size: large;
  }
  && img{
  width: auto;
  height: 100px;
  padding: 10px;
  border-radius: 15px;
}
}
#inicio{

  margin-top: 170px;
  text-align: center;
  padding: 50px;
  line-height: 1.5;
  background-color: darkgrey;
  max-width: 90%;
  border-radius: 15px;
  
  & #formula{
    text-align: justify;
  }

  && h2{
    margin: 20px;
    text-align: center;
  }
  & ul{
    margin: 15px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 50px;
    word-wrap: break-word;
    text-align: center;
    list-style: none;
  }
}

#calculadora{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
  margin: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#calculadora2{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  gap: 15px;
  display: block;
  margin: 40px;
}

#resultado2 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
#resultado3 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

#resultado4 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#raiz2{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 40px;
  min-width: 20px;
}

#resultadoraiz {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}