*{ 
margin: 0;
padding: 0;
box-sizing: border-box;
width: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction:  column;
  align-items: center;
}

.butoes{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  background-color: #007bff;
  height: 100px;
  z-index: 1;

  & button{
    background-color: transparent;
    text-align: center;
    font-weight: 600;
    font-size: large;
  }
  && img{
  width: auto;
  padding: 10px;
  border-radius: 15px;
}
}
#inicio{
  background-color: darkgrey;
  text-align: center;
  width: 100%;
  margin: 30px auto;
  margin-top: 100px;
  padding-top: 30px;
  
  & #formula{
    text-align: justify;
    max-width: 80%;
    justify-items: center;
    min-width: auto;
    text-align: center;
    margin: 30px auto;
  }

  && h2{
    margin: 20px;
    text-align: center;
  }
  & ul{
    /* width: auto; */
    margin: 15px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 50px;
    word-wrap: break-word;
    text-align: center;
    list-style: none;
  }
}

.meus-cards {
  width: 90%;
  max-width: 300px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 30px auto;
  border-radius: 5%;
}

.cardzinho {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cdeffd;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cardzinho.active {
  display: block;
}

.botao-card {
  display: block;
  margin: 0 auto 40px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 25%;
  background: 0 0 10px rgba(0, 0, 0, 0.3);
}

.botao-card:hover {
  background-color: #0056b3;
}


#calculadora{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
  margin: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#calculadora2{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  gap: 15px;
  display: block;
  margin: 40px;
}

#resultado2 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}
#resultado3 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

#resultado4 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#raiz2{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 40px;
  min-width: 20px;
}

#resultadoraiz {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}

#calculoporcentagem{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 40px;
  min-width: 20px;
}

#resultado5 {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}